block meta

title #{title}
meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1')

<!-- facebook open graph tags -->
meta(property='og:type' content='website')
meta(property='og:url' content='https://2020.molfarforum.com/golden-hands/')
meta(property='og:title' content=title)
meta(property='og:description' content=description)
meta(property='og:image' content=ogImage)
meta(property='og:image:secure_url' content=ogImage)

<!-- twitter card tags -->
meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:domain' value='2020.molfarforum.com/golden-hands')
meta(name='twitter:title' value=title)
meta(name='twitter:description' value=description)
meta(name='twitter:image' content=ogImage)
meta(name='twitter:url' value='https://2020.molfarforum.com/golden-hands/')

//- How to make your site previews look amazing in Slack https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-ask-or-how-to-make-your-e64b4bb9254
//- meta(name='twitter:label1' value='')
//- meta(name='twitter:data1' value='')
//- meta(name='twitter:label2' value='')
//- meta(name='twitter:data2' value='')
