mixin nomination--distance(name, link)
  +e.LI.text-wrapper--distance
    +e.P.text
      +link(name, link)

mixin nomination--distance-inner(name, link)
  +e.LI.text-wrapper--distance-inner
    +e.P.text
      +link(name, link)
