.nominations {
  @include mg-section();

  &__container {
    @include mg-bottom($margin * 3);

    &--distance {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      column-gap: 40px;
      row-gap: 40px;

      @include bp(768) {
        justify-items: center;
      }
    }
  }

  &__heading {
    margin-bottom: $margin--header;

    text-align: center;

    &--background {
      grid-row: 1;
      grid-column: 1 / -1;
    }

    &--left {
      @include mg-bottom($margin / 3);

      @include bp(414) {
        text-align: left;
      }
    }
  }

  &__wrapper {

    &--molfar { // обёртка очных номинаций
      display: grid;
      align-content: start;
      column-gap: 40px;

      @include bp(768) {
        grid-template-columns: minmax(280px, 2fr) 1fr;
      }
    }

    &--distance { // обёртка заочных номинаций
      @include pd-section(0, $margin * 3);

      background-color: $grey--lightest;

      // @include break-out--before($grey--lightest, x2);

      @include bp(414) {
        @include pd-section($margin * 3, $margin * 3);
      }
    }
  }

  &__inner {

    &--nominations { // Карточки номинаций (слева на desktop)
      list-style-type: none;
      counter-reset: molfar;
      @include mg-bottom($margin * 2);

      @include bp(768) {
        @include mg-bottom(unset);
      }
    }

    &--rules { // Обёртка правил (справа на desktop)
      position: sticky;
      top: 60px; // -header

      align-self: start;
    }

    &--distance-nominations {
      max-width: 391px;
    }

    &--distance-rules {
      position: sticky;
      top: 60px; // -header

      max-width: 391px;
      align-self: start;
      padding-top: $font-size-h3 / $line-height--headings; // под baseline заголовка
    }
  }

  &__text-wrapper {
    padding-left: 1.5em;
    @include mg-bottom(unset);

    list-style-type: none;

    & > :first-child { // Список ближе к заголовку
      @include mg-bottom($margin * 0.66);
    }

    &--distance {
      margin-left: 2em;
      @include mg-bottom($margin);
    }

    &--distance-inner {
      margin-left: 1em;
      @include mg-bottom($margin / 2);
    }

    &--distance,
    &--distance-inner {
      padding-left: .5em;

      &:not(:only-child) {
        list-style-type: decimal;
        list-style-position: outside;
      }
    }
  }

  &__text {

    &--title-counter {
      position: relative;

      font-weight: bold;
      font-size: $font-size--big;

      &::before { // инкримент очных номинаций
        counter-increment: molfar;
        content: counter(molfar) '.';
        position: absolute;
        left: -1.5em;
      }
    }

    &--title {
      position: relative;

      font-weight: bold;
      font-size: $font-size--big;
    }

    &--alt { // текст поверх картинки
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: $z-above;

      max-width: 80%;
      width: 100%;

      font-size: 18px;
      font-weight: 700;
      text-align: center;
      color: $text-color--white;

      text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    &--inactive {
      color: $text-color--inactive;
    }
  }

  &__card { // картинка + UL очных номинаций
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 20px;
    row-gap: 10px;
    @include mg-bottom($margin * 2);
  }

  &__img-wrapper {
    order: -1;
    // grid-column: 1 / 2;
    @include img(391px, 260px);

    border-radius: $bd-radius;
  }

  &__img {
    border-radius: $bd-radius;
  }

  &__list {

    &--rules,
    &--distance-rules { // список правил (справа на desktop)
      @include mg-bottom($margin * 2);

      list-style-type: none;

      & > :first-child { // Список ближе к заголовку
        @include mg-bottom($margin * 0.66);
      }
    }

    &--distance-inner {
      margin-top: $margin * 0.66;
      @include mg-bottom(unset);
    }
  }
}
