.prize {
  @include mg-section();

  &__heading {
    @include mg-bottom($margin--header);

    text-align: center;

    &--background {
      @include mg-bottom($margin / 3);

      text-align: unset;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
    align-items: baseline;
    gap: 20px;

    @include mg-bottom(40px);

    @include bp(768) {
      justify-items: center;
    }
  }

  &__list {
    list-style-type: none;

    &:first-child {

      @include bp-max(480) {
        padding-top: $margin;
        padding-bottom: $margin;
        @include break-out--before($grey--lightest)
      }
    }

    &--inner {
      padding-left: 10px; // под букву h3
    }

    &--dots {
      list-style-type: '⋅';
    }
  }

  &__list,
  &__inner {
    max-width: 391px;
  }

  &__text-wrapper {

    & > .prize__list { // внутренний список
      margin-top: $margin * 0.66;
    }

    li { // li-шки внутреннего списка
      @include mg-bottom($margin / 2);
    }

    &--title {
      @include mg-bottom($margin * 0.66);
    }
  }

  &__text {

    &--title {
      font-weight: bold;
      font-size: $font-size--big;
    }
  }
}
