.button {
  position: relative;

  min-width: 190px;
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;

  font-size: $font-size-button;
  font-weight: 700;
  line-height: 1;
  color: currentColor;
  text-align: center;

  border: unset;

  cursor: pointer;
  user-select: none;

  &:visited {
    color: $text-color--white;

    border: unset;
  }

  &--accent {
    position: relative;

    color: $text-color--white;

    border-radius: $bd-radius;
    overflow: hidden;

    &::after,
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;

      @include size(100%);

      border-radius: $bd-radius;
    }

    &::before {
      z-index: $z-under;
      background-color: $a-default;
    }

    &::after {
      z-index: $z-before;

      @include pattern();

      opacity: 0;
      transform: translateY(100%);
      transition: opacity 0s ease-in-out .15s,
                  transform .15s ease-in-out;
    }

    &:hover,
    &:focus {

      &::after {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0s ease-in-out 0s,
                    transform .15s ease-in-out;
      }
    }

    &:active {
      box-shadow: $sh-pressed;
    }
  }
}
