.about {
  @include mg-section();

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: $margin--header;
  }

  &__video {
    max-width: 600px;
    width: 100%;

    background-color: #f2f2f2;

    @include bp-minmax(768, 769) { // сделаем красивее на iPad-ах
      margin-top: $font-size-h2 * $line-height--headings;
    }
  }
}
