.grading {
  @include mg-section();

  &__heading {
    @include mg-bottom($margin--header);

    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
    column-gap: 20px;
    align-items: start;

    @include bp(768) {
      justify-items: center;
    }
  }

  &__inner {
    max-width: 391px;
    list-style-type: none;
  }
}
