.ticket {
  max-width: 350px;
  // min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $margin * 2 $margin * 2 $margin * 2;

  box-shadow: $sh-classic;
  border-radius: $bd-radius;
  background-image: linear-gradient(lighten($grey--lightest, 2), $grey--lightest);

  &__wrapper {
    position: relative;
    z-index: $z-one;

    margin-bottom: $margin * 2;
  }

  &__text {
    font-weight: 700;

    &--faded {
      color: #676767;
      // color: $text-color--inactive;
      font-weight: 400;
    }
  }

  &__inner {
    position: relative;
    z-index: $z-one;

    align-self: center;
  }
}
