.hero {
  @include mg-section();

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-size: cover;
  background-position: 55% 0;
  background-color: $grey--light;

  @include bgi('/hero/img/hero--golden-hands_1440.jpg', '/hero/img/hero--golden-hands_2560.jpg');

  @include bp(768) {

    background-position: 75% 0;
    @include bgi('/hero/img/hero--golden-hands_2560.jpg', '/hero/img/hero--golden-hands_2560.jpg');
  }

  .heading {

    @include bp-max(480) {

      br {
        display: none;
      }
    }

    &__title {
      margin-bottom: 1.5rem;

      @include bp-max(768) { // добавим читаемости на мобильных
        text-shadow: -1px 1px 1px rgba(#fff, 0.15);
      }
    }

    &__dot {

      @include bp(480) {
        display: none;
      }
    }

    &__text {
      @include mg-bottom($margin * 2);

      @include bp-max(768) { // добавим читаемости на мобильных
        max-width: 300px;

        text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__heading {
    position: relative;
    z-index: $z-one;

    color: #ffffff;
  }
}
