.tooltip {
  position: absolute;
  bottom: 100%;
  left: 25%;
  z-index: $z-one;

  padding: $margin / 2;

  white-space: nowrap;

  background-color: #fff;
  box-shadow: $sh-classic;
  border-radius: $bd-radius;
  opacity: 0;

  @include trs(opacity, .25s, ease-in-out);

  pointer-events: none;
  user-select: none;

  @include bp(768) {
    bottom: 100%;
    left: 90%;
  }

  &__text {
    @include mg-bottom($margin / 2);
  }
}
