.cost {
  @include mg-section();

  &__heading {
    @include mg-bottom($margin--header);
    text-align: center;

    &--background {
      @include mg-bottom($margin / 3);

      text-align: unset;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
    gap: 20px;

    @include bp(768) {
      justify-items: center;
    }
  }

  &__inner {
    max-width: 391px;
    @include mg-bottom($margin * 2);

    &:not(.cost__inner--wrapper) {
      padding-left: 10px;
    }

    &--line {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: -$margin;
        left: 0;

        width: 100%;
        height: 1px;

        background-image: $g-line;
      }
    }
  }

  &__text-wrapper { // tooltip
    position: relative;

    display: inline-block;

    &:hover {

      .tooltip {
        opacity: 1;

        pointer-events: unset;
        user-select: unset;
      }
    }
  }

  &__text {

    &--title {
      @include mg-bottom($margin * 0.66);

      font-weight: bold;
      font-size: $font-size--big;
    }

    &--dashed {
      display: inline-block;

      border-bottom: 1px dashed;

      cursor: pointer;
    }

    &--faded {
      position: relative;

      display: inline-block;
      @include mg-bottom(unset);

      font-size: $font-size--big;

      background-image: $g-faded;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before { // line-through
        content: '';
        position: absolute;
        top: 50%;
        left: 0;

        width: 100%;
        height: 1px;

        background-color: $grey--light;
      }
    }
  }
}
