.card {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 1rem; // 1rem * $line-height
    line-height: 2; // ↑ если lh стандарт

    span {
      padding: 10px;

      @include pattern();
    }
  }

  &__list {
    list-style-type: none;

    li {
      @include mg-bottom($margin / 2);
    }
  }

  &__img-wrapper {
    @include size(250px);
    @include img(250px, 250px);
    padding-bottom: unset;
    order: -1; // Картинка — сверху
    @include mg(auto);
    margin-bottom: 30px; // 40px

    border-radius: 50%;
  }

  &__img {
    border-radius: 50%;
  }
}
