.contacts {
  @include pd-section($margin * 3, $margin * 2);

  background-color: $grey--lightest;

  &__heading {

    &--background {
      margin-left: -10px;
      @include mg-bottom($margin / 3);
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    align-items: baseline;
    column-gap: 20px;
    row-gap: $margin * 2;
  }

  &__inner {
    max-width: 24em;

    .contacts__text {
      @include mg-bottom($margin * 0.66);
    }

    &:not(.contacts__inner--wrapper) {
      @include mg-bottom($margin * 2);
    }
  }

  &__text {

    &--title {
      font-weight: bold;
      // font-size: $font-size--big;
    }

    &--inactive {
      // color: $text-color--inactive;
      color: #676767;
    }
  }
}
