.org {
  @include mg-section();

  &__heading {
    margin-bottom: $margin--header;

    text-align: center;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
    grid-gap: 50px;
    justify-content: center;
  }

  &__card {
    justify-self: center;
  }

}
