.registration {
  @include mg-section();

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $margin--header;

    &__title {
      @include mg-bottom(16px);
    }

    &__text {
      @include mg-bottom(16px);

      &--counter {
        position: relative;

        display: inline-block;
        @include pd(10px);

        font-weight: bold;
        font-size: $font-size--big;

        border-radius: $bd-radius;
        overflow: hidden;


        &::before { // Дополнительная подствека при наведении
          content: '';
          position: absolute;
          top: 0;
          left: 0%;
          z-index: $z-before;

          width: 100%;
          height: 100%;

          // background-color: #f2f2f2;
          @include pattern();
          transform: translateY(100%);
          opacity: 0;

          // @include trs(all, .15s, ease-in-out);
          transition: opacity 0s ease-in-out .1s,
                      transform .1s ease-in-out;
        }

        &:hover {

          cursor: default;

          &::before {
            transform: translateY(0);
            opacity: 1;

            // @include trs(all, .15s, ease-in-out);
            transition: opacity 0s ease-in-out 0s,
                        transform .1s ease-in-out;
          }
        }
      }
    }

  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(291px, 1fr));
    justify-items: center;
    gap: $margin--header;

    @include bp(1024) {
      @include pd(10%);
    }
  }
}
