extends ../layouts/layout

block meta
  - var title = 'Золотые руки мира. Molfar, Украина — Molfar Beauty Forum'
  - var description = '«Золотые руки мира» — международный чемпионат мастеров маникюра, учреждённый Еленой Шанской. Этап «Molfar, Украина» пройдёт в рамках Moflar Beauty Forum 29 сентября в Буковеле'
  - var ogImage = 'img/og-image--golden-hands.jpg'
  - var pageModifier = '--golden-hands'
  - var currentUrl = '/'

block content
  +b.SECTION.hero
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H1.title Золотые руки мира#[+e.SPAN.dot .]
          br
          |  Molfar, Украина
        +e.P.text Международный чемпионат мастеров маникюра в Буковеле

        +b.A.button--accent.__button(href='#registration') Регистрация
    +b.copyrights Фото Алёны Смирновой

  +b.SECTION.about
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Что это?
        +e.P.text «Золотые руки мира» — международный чемпионат мастеров маникюра, учреждённый Еленой Шанской. Этап «Molfar, Украина» пройдёт в рамках Molfar Beauty Forum 29 сентября в Буковеле.
        +e.P.text 111 номинаций, 555 призовых мест, Гран-При, 3 призовых места для команд, а так же Зачёт Мольфара — с призовым фондом в $2000.
      +b.VIDEO.video.__video(playsinline, autoplay, preload='auto', loop, muted)
        +e.SOURCE.source(src='https://molfarforum.com/storage/golden-hands/v_600_0.webm', type='video/webm', media='only screen and (max-device-width: 480px)')
        +e.SOURCE.source(src='https://molfarforum.com/storage/golden-hands/v_mobile.mp4', type='video/mp4', media='only screen and (max-device-width: 480px)')
        +e.SOURCE.source(src='https://molfarforum.com/storage/golden-hands/v_600_0.webm', type='video/webm')
        +e.SOURCE.source(src='https://molfarforum.com/storage/golden-hands/v_desktop.mp4', type='video/mp4')

  +b.SECTION.org
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Организаторы

      +e.wrapper
        +b.card.__card
          +e.H3.title Елена #[span Шанская]
          +e.UL.list
            +e.P.text Бьюти-коуч, ментор
            +e.P.text Учредитель чемпионата «Золотые руки мира»
          +e.img-wrapper.loading
            +e.IMG.img.lazyload(src='../img/org/img/org1_720.jpg', alt='Елена Шанская')

        +b.card.__card
          +e.H3.title Ксения #[span Сакелари]
          +e.UL.list
            +e.P.text Судья международной категории
            +e.P.text Основатель одноимённого учебного центра
            +e.P.text Организаторо чемпиона «Золотые руки мира. Molfar, Украина»
          +e.img-wrapper.lazyload
            +e.IMG.img.loading(src='../img/org/img/org2_720.jpg', alt='Ксения Сакелари')

  +b.SECTION.nominations
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Номинации
      +e.wrapper--molfar
        +b.heading.__heading--background
          +e.H3.title--background Очные номинации
        +e.OL.inner--nominations

          +e.LI.card
            +e.UL.text-wrapper
              +e.P.text--title-counter Салонный маникюр
              +e.P.text 40 минут #[+e.SPAN.text--inactive (50 — если «Дебют»)]
              +e.P.text Выполнение маникюра на одной руке
              +e.P.text Покрытие — красным гель-лаком
              +e.P.text #[+link('Полные правила', 'https://drive.google.com/file/d/1_KpzxxL4h-_Itvg6C0_ow5yGPqbDUzG4/view?usp=sharing')]

            +srcset('Салонный маникюр', '../img/nominations/img/Salon-manicure_720.jpg', '../img/nominations/img/Salon-manicure_1080.jpg')

          +e.LI.card
            +e.UL.text-wrapper
              +e.P.text--title-counter Салонный дизайн ногтей
              +e.P.text 30 минут для всех категорий
              +e.P.text Выполняется на 5 типсах
              +e.P.text Дизайн выполняется по картинке
              +e.P.text #[+link('Полные правила', 'https://drive.google.com/open?id=1-krfn5EmIBTYzo-disZK2sbg1OmC7b57&authuser=inbox%40molfarforum.com&usp=drive_fs')]

            +srcset('Салонный дизайн ногтей', '../img/nominations/img/Salon-nail-design_720.jpg', '../img/nominations/img/Salon-nail-design_1080.jpg')

          +e.LI.card
            +e.UL.text-wrapper
              +e.P.text--title-counter Салонное моделирование ногтей (выкладной белый френч)
              +e.P.text 90 минут для всех категорий
              +e.P.text Моделирование на одной руке
              +e.P.text #[+link('Полные правила', 'https://drive.google.com/open?id=1ZBlE8d6D4cXBb_Jqm8aC8K8z_xAkHrZh&authuser=inbox%40molfarforum.com&usp=drive_fs')]

            +srcset('Салонное моделирование ногтей', '../img/nominations/img/Salon-nail-modeling_720.jpg', '../img/nominations/img/Salon-nail-modeling_1080.jpg')

          +e.LI.card
            +e.UL.text-wrapper
              +e.P.text--title-counter Nail-Art
              +e.P.text 90 минут для всех категорий
              +e.P.text Необходимо максимально приближённо к оригиналу воспроизвести репродукцию картины на типсах
              +e.P.text Автор картины учавствует в судействе и подарит оригинал победителю
              +e.P.text #[+link('Полные правила', 'https://drive.google.com/open?id=1pO02gtUn1O1yOkGZskpgX7k_M48oB3zW&authuser=inbox%40molfarforum.com&usp=drive_fs')]

            +srcset('Nail-Art', '../img/nominations/img/Nail-Art_720.jpg', '../img/nominations/img/Nail-Art_1080.jpg')
        +e.inner--rules
          +e.UL.list--rules
              +e.P.text--title Общие правила очного участия
              +e.P.text Организатор предоставляет для работы стол, розетку и два стула
              +e.P.text Мастер должен иметь свои материалы и инструменты, необходимые для выполнения работы: дезинфекторы, 2 лампы (осветительную и для работы с гелем), удлинитель
              +e.P.text Модель предоставляет организатор. Стоимость модели €10 / номинация
              +e.P.text
                +link('Подробные правила и регламент', 'https://drive.google.com/open?id=1qaOhxFkKkRyzXk5ZJ-lAd7aYa_4VKg6E&authuser=inbox%40molfarforum.com&usp=drive_fs')

          +e.UL.list--rules
              +e.P.text--title Требования к внешнему виду мастера
              +e.P.text Собранные волосы
              +e.P.text Чёрный верх, чёрные брюки или юбка ниже колен офисного стиля
              +e.P.text Сменная обувь с закрытым носком чёрного цвета
              +e.P.text Отсутствие ярких аксессуаров
    +e.wrapper--distance
      +e.container--distance.container
        +e.inner--distance-nominations
          +b.heading.__heading--background.--left
            +e.H3.title--background Заочные номинации

          +e.OL.list--distance
            +nomination--distance('Образ на модели (1 номинация)', 'https://drive.google.com/open?id=1HdCAbGJjL8ut02b5x1o3u33aYiH_FKBK&authuser=inbox%40molfarforum.com&usp=drive_fs')

            +e.LI.text-wrapper--distance
              +e.P.text Дизайн ногтей (41 номинация)
                +e.OL.list--distance-inner
                  +nomination--distance-inner('Художественная роспись (типсы)', 'https://drive.google.com/open?id=1yTbzFIJu6I-wYuHi0_VOGZXVfYDXvFA2&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Акварель (типсы)', 'https://drive.google.com/open?id=1-zOKFhPl_5N9QK_usnmHbJhb38cAcwNX&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Mix Media (типсы)', 'https://drive.google.com/open?id=1EWycMalNroV2gzt5OF_7R_ud1WobQ0G6&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Китайская роспись (типсы)', 'https://drive.google.com/open?id=1mD4A_33c2pdVfs2eQca_koLIp2htNVVS&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Музеи Мира (типсы)', 'https://drive.google.com/open?id=1s1CeLyrW2JaMV2y_j2PhLZM9EtUfUCN-&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('3D дизайн (типсы)', 'https://drive.google.com/open?id=1_ZtlXAB2reTyC5-kF_2c0mC4OdUShYWX&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Лепка плоскостная (типсы)', 'https://drive.google.com/open?id=1USzLoA0ejgVeV0cG5jqMvlQTcMLwrIOu&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Один в один — типсы (художественная роспись)', 'https://drive.google.com/open?id=17kv3uMU3doQO7CyBctzPygkYzB-h9SuZ&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Скульптура', 'https://drive.google.com/open?id=1qciLOvnU8qfIKPg2idJjUSzW2ao9oYnS&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Жостово', 'https://drive.google.com/open?id=1RCbTJkdLCcg-YXKBrh5TMs5b5Yy5plwr&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Инкрустация (типсы)', 'https://drive.google.com/open?id=1l_XdpRU8vgvFr2A60VYS2riRuqKNye8v&authuser=inbox%40molfarforum.com&usp=drive_fs')

            +nomination--distance('Фристайл (10 номинаций)', 'https://drive.google.com/open?id=12WGAojn2BPwdegAFVxdgUqcI235H4Taq&authuser=inbox%40molfarforum.com&usp=drive_fs')

            +nomination--distance('Аэрография (5 номинации)', 'https://drive.google.com/open?id=1Mtmovd8BtqmuhoHL56nHgO76caB8ugA_&authuser=inbox%40molfarforum.com&usp=drive_fs')

            +nomination--distance('Ювелирные украшения (10 номинаций)', 'https://drive.google.com/open?id=15NpwP5Hqm2UOu9GCKy4MXh2727y5oa0r&authuser=inbox%40molfarforum.com&usp=drive_fs')

            +nomination--distance('Постер (18 номинаций)', 'https://drive.google.com/open?id=1E9W075jlsZvyaA1DU72sIB3Qpkn2_q7U&authuser=inbox%40molfarforum.com&usp=drive_fs')

            +e.LI.text-wrapper--distance
              +e.P.text Педикюрные типсы (22 номинаций)
                +e.OL.list--distance-inner
                  +nomination--distance-inner('Художественная роспись (типсы)', 'https://drive.google.com/open?id=1b7hQvu2eddq-vFuqWJuAQ9Aq2aP3Eicc&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Акварель (типсы)', 'https://drive.google.com/open?id=1LA0phIaygCkhouYb8I0AEgoPHYBdLNZe&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Mix Media (типсы)', 'https://drive.google.com/open?id=1J4OWyVROM0TH8wmGIwspiRHuYadj-Lkh&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Китайская роспись (типсы)', 'https://drive.google.com/open?id=1Y-CpU-JdiEFSLZm9bQ1tb2rHCJmBBU20&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Лепка плоскостная (типсы)', 'https://drive.google.com/open?id=1sCSM0jKwa0JOApYGD7huCvI5zmp1xpBF&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Инкрустация (типсы)', 'https://drive.google.com/open?id=1x0NV6wyKMCUzgp5Eg-Uu8i-DWC_lFJip&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Жостово', 'https://drive.google.com/open?id=1dHTq8GRM8BcWIn_tOW10PxtDmwV2gDwR&authuser=inbox%40molfarforum.com&usp=drive_fs')
                  +nomination--distance-inner('Аэрография (типсы)', 'https://drive.google.com/open?id=13cm8K-jJYAJLxBknFNZCGm7ghTm1LB6F&authuser=inbox%40molfarforum.com&usp=drive_fs')

        +e.inner--distance-rules
          +e.OL.list--distance-rules
            +e.P.text--title Общие правила заочного участия
            +e.P.text Заочные работы принимаются до 20 сентября
            +e.P.text При заочном участии личное присутствие не обязательно
            +e.P.text Победители будут озвучены в прямой трансляции и группе для участников
            +e.P.text
              +link('Подробные правила и регламент', 'https://drive.google.com/open?id=1u9I5KAlqagxXN_ctTn0MlrnNBkwmgnGZ&authuser=inbox%40molfarforum.com&usp=drive_fs')

  +b.SECTION.grading
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Оценивание

      +e.wrapper
        +e.UL.inner
          +e.P.text Очные и заочные номинации судят отдельно
          +e.P.text Все номинации оцениваются в 5–10 критериях в зависимости от номинации

        +e.UL.inner
          +e.P.text Судейский комитет состоит из 5 судей
          +e.P.text 1 судья — 1 критерий
          +e.P.text До начала соревнований статисты проводят процедуру Nail check, в которой отмечают наличие каких-либо повреждений на поверхности кожи и ногтей

  +b.parallax
    +e.img-wrapper
      +e.IMG.img(src='../img/parallax/img/parallax_1440.jpg')

  +b.SECTION.prize
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Призы

      +e.wrapper
        +e.UL.list
          +e.LI.text-wrapper--title
            +e.P.text--title 555 призовых мест в 111 номинациях
          +e.LI.text-wrapper
            +e.P.text Участники, занявшие 1, 2 и 3 места, получают дипломы, медали и кубки
          +e.LI.text-wrapper
            +e.P.text Участники, занявшие 4 и 5 места, получают дипломы
          +e.LI.text-wrapper
            +e.P.text Каждому участнику присуждается «сертификат участника»
          +e.LI.text-wrapper
            +e.P.text В каждой номинации 5 призовых мест
          +e.LI.text-wrapper
            +e.P.text Участники, победившие в 3 номинациях и больше, соревнуются за кубок Гран-При

        +e.inner
          +b.heading.__heading--background
            +e.H3.title--background Зачёт Мольфара

          +e.UL.list--inner
            +e.LI.text-wrapper
              +e.P.text Для очных участников, Molfar Forum разыгрывает дополнительный призовой фонд в $2000
              +e.UL.list--inner
                +e.P.text $1000 — Гран-При Зачёта
                +e.P.text $500 — 1-е место
                +e.P.text $300 — 2-е место
                +e.P.text $200 — 3-е место
            +e.LI.text-wrapper
              +e.P.text В зачёт идут баллы, набранные за участие в 5 обязательных номинациях:
              +e.UL.list--inner.--dots
                +e.P.text 3 очные
                +e.P.text 2 заочные
            +e.LI.text-wrapper
              +e.P.text Номинации для зачёта участник выбирает во время регистрации на Molfar Forum

      +e.wrapper
        +e.UL.list
          +e.LI.text-wrapper--title
            +e.P.text--title Командное участие
          +e.LI.text-wrapper
            +e.P.text Команда это тренер и 5 мастеров
          +e.LI.text-wrapper
            +e.P.text €2 750 — стоимость участия команды. В цену входят:
            +e.UL.list--inner.--dots
              +e.P.text Билеты на Molfar Forum для мастеров и тренера
              +e.P.text 30 номинаций (15 очных и 15 заочных)
          +e.LI.text-wrapper
            +e.P.text Тренер может усилить команду дополнительными участниками. Стоимость каждого нового участника €550

        +e.inner
          +b.heading.__heading--background
            +e.H3.title--background Командный зачёт

          +e.UL.list--inner
            +e.P.text 3 призовых места для команд
            +e.P.text Зачёт складывается из суммы баллов, набранных командой
            +e.P.text В зачёт идут баллы, набранные за участие в 25 номинациях. Номинации для зачёта выбираются при регистрации на Molfar Forum
            +e.P.text 5 лучших результатов в номинации идут в зачёт. При этом количество участников в номинации не ограниченно
            +e.P.text Мастера из команды участвуют в Зачёте Мольфара, сражаясь за призовой фонд

  +b.SECTION.cost
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Стоимость участия

      +e.wrapper
        +e.inner--wrapper
          +b.heading.__heading--background
            +e.H3.title--background Мастерам

          +e.inner
            +e.text-wrapper
              +e.P.text--title.--dashed До €75 за работу

              +b.tooltip
                +e.P.text 1 номинация — €100
                +e.P.text 2 номинации — по  €90
                +e.P.text 3 номинации — по €80
                +e.P.text 4 номинации и больше — по €75

            +e.P.text За категорию «мастер», «мастер-инструктор», «VIP», «премиум», начиная с 4-й номинации

          +e.inner
            +e.text-wrapper
              +e.P.text--title.--dashed До €55 за работу

              +b.tooltip
                +e.P.text 1 номинация — €70
                +e.P.text 2 номинации — по €65
                +e.P.text 3 номинации — по €60
                +e.P.text 4 номинации и больше — по €55

            +e.P.text За категорию «дебют», начиная с 4-й номинации

          +e.inner
            +e.P.text--faded От 8 500 ₴
            +e.P.text--title От 7 500 ₴
            +e.P.text Обойдётся билет на Molfar Forum участникам чемпионата «Золотые руки мира. Molfar, Украна». Это ~€250
            +e.P.text В билет, кроме #[+link('лекций и семинаров', 'https://2020.molfarforum.com/schedule')], входит жильё, завтраки, и оплаченные вечеринки с остальными участниками Форума

          +e.inner--line
            +e.P.text--title Например:
            +e.P.text €625 участие в #[i 5] номинациях

        +e.inner--wrapper
          +b.heading.__heading--background
            +e.H3.title--background Командам

          +e.inner
            +e.P.text--title €2 750
            +e.P.text Стоимость участия команды из 6 человек (1 тренер и 5 мастеров)
            +e.P.text Это €550 на человека или почти на €200 выгоднее, чем одиночное участие. Для тренера участие — бесплатно
            +e.P.text Команда получает 15 очных и 15 заочных номинаций включённых в цену. Дополнительные номинации €75 для «мастер»+ и €55 для «дебют»
            +e.P.text Командный пакет на «Золотые руки мира. Molfar, Украина» даёт право на участие во всех событиях Molfar Forum: шоу, розыграши, вечеринки. А также жильё, завтраки, лекции и семинары

          +e.inner--line
            +e.P.text--title Или:
            +e.P.text €550 на члена команды

  +b.SECTION.registration#registration
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Регистрация
        +e.P.text Открыта до 20 сентября
        +e.P.text--counter Осталось 34 очных места

      +e.wrapper
        +b.ticket.__ticket
          +e.wrapper
            +e.P.text Отправляйтесь на Molfar Forum, #[+e.SPAN.text--faded купив билет со скидкой]
            +e.P.text Получите приглашение #[+e.SPAN.text--faded в закрытую группу участников Чемпионата]
            +e.P.text Выбирайте номинации, #[+e.SPAN.text--faded а наш конструктор номинаций посчитает стоимость]
          +e.inner
            +b.A.button--accent.__button(href='https://golden-hands.paperform.co/') Мастерам

        +b.ticket.__ticket
          +e.wrapper
            +e.P.text Представьте свою школу #[+e.SPAN.text--faded на Чемпионате]
            +e.P.text Соберите команду #[+e.SPAN.text--faded и получите в распоряжение сразу 30 номинаций]
            +e.P.text Усильте команду #[+e.SPAN.text--faded дополнительными участниками или номинациями, а наш конструктор скажет стоимость]
          +e.inner
            +b.A.button--accent.__button(href='https://golden-hands-team.paperform.co/') Командам

  +b.SECTION.contacts
    +e.container.container
      +b.HEADER.heading.__heading
        +e.H2.title Контакты

      +e.wrapper
        +e.inner--wrapper
          +e.P.text
            +e.A.link(href='tel:+380 (96) 367 10 10') +380 (96) 367 10 10
          +e.P.text Евгений Сакелари, координатор Чемпионата (сотовый, Вайбер, Телеграм)

        +e.inner--wrapper
          +e.inner
            +e.P.text
              +link('@shanskaya_lena', 'https://www.instagram.com/shanskaya_lena/')
            +e.P.text Инстаграм Елены Шанской
          +e.inner
            +e.P.text
              +link('@sakelary.nail', 'https://www.instagram.com/sakelary.nail/')
            +e.P.text Инстаграм школы Ксении Сакелари
          +e.inner
            +e.P.text
              +link('@molfarforum', 'https://www.instagram.com/molfarforum/')
            +e.P.text Инстаграм Molfar Beauty Forum

        +e.inner--wrapper
          +b.heading.__heading--background
            +e.H3.title--background Заочные работы

          +e.inner
            +e.P.text--title Украинский адрес для заочных работ:
            +e.P.text Одесса, Переулок Маланова, 6. Новая Почта: склад 129. На имя Евгения Сакелари#[br]+380 (96) 367 10 10
            +e.P.text--inactive Сообщите информацию о грузе получателю

          +e.inner
            +e.P.text--title Российский адрес для заочных работ:
            +e.P.text Москва, инд. 109651. Елена Шанская#[br]+7 (985) 774 11 64
            +e.P.text--inactive Пересылка работ только через курьерскую службу
