// colors
$grey--light: #bdbdbd;
$grey--lightest: #F5F5F5;

// accent
$a-default: #242E84;
$a-mf:#dc272d;
$a-mf2: #ff6644;

// text
$text-color: #333;
$text-color--inactive: $grey--light;
$text-color--white: #fff;

// links
$link-color: #2B32B2;
$link-color--hover: #2B32B2;

// borders
$bd-color: rgba($text-color, .25);

// gradients
$g-default: linear-gradient(180deg, $a-mf2 0%, #c5001e 100%);
$g-lazyloading: linear-gradient($text-color--inactive, rgba($text-color--inactive, .5));
$g-faded: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(189, 189, 189, 0.8725) 51.56%);
$g-line: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.83%, rgba(0, 0, 0, 0) 100%);

// backgorunds
$bg-lazyloading: rgba(#000, .9);
$bg-button: #e5e5e5;

// shadows
$sh-classic: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
$sh-pressed: inset 0 0 5px 2px rgba(#000, .15);
