// margin
$margin: 1em * 1.5; // 24px (margin * line-height)
$margin--header: $margin * 1.5; // 36px

// border
$bd-radius: 5px;

// z-index
$z-under: -2;
$z-before: -1;
$z-one: 1;
$z-above: 2;
$z-header: 11;
$z-menu: 12;
